
{% extends "layout2.html" %}

{% block main %}

<ul>
{% for data in data %}

<div class="profile_all">
<div class="profile-container">
    <div class="profile-header">
      <h2>{{ data["username"] }}</h2>
      <p>{{ data["email"] }} </p>
    </div>
    <div class="profile-info">
      <div class="info-item">
        <span class="info-label">{{ data["dob"] }} :</span>
        <span class="info-value">City, Country</span>
      </div>
      <div class="info-item">
        <span class="info-label">Bio:</span>
        <p class="info-value">Passionate.</p>
      </div>
    </div>
  </div>
{% endfor %}
</ul>

</div>






{% endblock %}
